{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Item</th>
            <th>Best before</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.best_before }}</td>
            <td>
                <form method="POST" action="{{ url_for('items_set_used', item_id=item.id) }}">
                    <input type="submit" value="Use item!" />
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('items_set_expired', item_id=item.id) }}">
                    <input type="submit" value="Expired!" />
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('items_delete', item_id=item.id) }}">
                    <input type="submit" value="Delete!" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}