{% extends "layout.html" %}

{% block body %}
<div class="card mt-3">
    <div class="card-header">
        Add ingredients to your recipe. </br>
        Please use singular form when adding ingredients. </br>
        <i>(e.g. Tomatoes -> Tomato, Jauhelihaa -> Jauheliha)</i>
    </div>
    <div class="card-body">
        <form method="POST" action="{{ url_for('recipes_ingredients', recipeId=recipeId) }}">
            <div class="input-group mb-3">
                {{ form.amount(class="form-control col-sm-2", placeholder="Amount") }}
                {{ form.ingredient(class="form-control", placeholder="Ingredient") }}
                <div class="input-group-append">
                    <input class="btn btn-secondary" type="submit" value="Add ingredient" />
                </div>
            </div>
        </form>
    </div>
</div>

{% for ingredient in ingredients %}
<div class="card mt-2">
    <div class="card-header">
        <div class="row">
        <div class="col-sm-2 mt-2">
        <b>
            {% if ingredient.amount != None %}
                {{ ingredient.amount }}
            {% endif %}
        </b>
        </div>
        <div class="col-sm-10 d-flex">
        <b class="mt-2"> {{ ingredient.name }} </b> 
        <form class="ml-auto" method="POST" action="{{ url_for('ingredients_delete', ingredientId=ingredient.id , recipeId=recipeId) }}">
            <input class="btn btn-secondary" type="submit" value="Delete" />
        </form>
        </div>
        </div>
    </div>
</div>
{% endfor %}

<a href="{{ url_for('recipe', recipeId=recipeId) }}" class="btn btn-primary btn-lg btn-block mt-3">Complete</a>

{% for error in form.ingredient.errors %}
{{ error }}
{% endfor %}

{% endblock %}