{% extends "layout.html" %}

{% block body %}
<div class="card-header d-flex">
    <h1>{{ recipe.name }}</h1>
    {% if authorizedToDelete %}
    <div class="dropdown ml-auto mt-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edit
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('recipes_edit', recipeId=recipe.id) }}">Edit</a>
                <form method="POST" action="{{ url_for('recipe_delete', recipeId=recipe.id) }}">
                    <input class="dropdown-item" type="submit" value="Delete" />
                </form>
            </div>
    </div>
    {% endif %}
</div>
{% if recipe.image != None %}
<img src="{{ recipe.image }}" alt="Recipe image" class="img-fluid mt-3">
{% endif %}
<div class="card mt-3">
    <div class="card-header">
        <h2>Ingredients</h2>
    </div>
    <div class="card-body">
        {% for ingredient in ingredients %}
        {{ ingredient.name }} </br>
        {% endfor %}
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h2>Instructions</h2>
    </div>
    <div class="card-body">
        <p>{{ recipe.instructions }}</p>
    </div>
</div>
{% endblock %}